# Python cache
__pycache__/

# Data
data/test_data/HanSeg/

# Augm test results
utils/results/

# Large files
*.zip
*.pkl

# Subfolder for deployment contain the tfjs models
deployment/*/ 

# Optional: IDE/editor stuff
.vscode/